@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}
  
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
  
.calculadora {
    max-width: 340px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: rgb(35, 41, 56);
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
}

.pantalla {
    width: 100%;
    height: 40px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
    background-color: rgb(22, 26, 36);
    color: rgb(112, 235, 194);
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.operador {
    background-color: rgb(51, 59, 77);
    color: rgb(131, 136, 164);
}

.igual {
    grid-row: span 2;
    color: rgb(35, 41, 56);
    background: rgb(107, 239, 213);
}

.retroceso {
    color:rgb(255, 193, 208);
    
    background:rgb(205, 44, 88);
}
  
button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: rgb(35, 41, 56);
    color: rgb(131, 136, 164);
    margin: 10px;
}

button:hover {
    cursor: pointer;
}
